<!DOCTYPE html>
<html>

<head>
    <title>Forget Password Email</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
    <div>
        <h3>Dear {{USERNAME}},</h3>
        <br>
        <p>You requested for a password reset, kindly use this <a href="{{URL}}">link</a> to reset your password</p>
        <br>
        <h3>Recovery Code : </h3>
        <h5>{{RECOVERYID}}</h5>
        <br>
        <p>Cheers!</p>
    </div>
</body>
</html>