.img-fluid {
    max-width: 100%;
    height: auto;
    max-height: 10rem;
    min-height: 90%;
}
.media{
    border: 5px dashed lightgray;
    margin-bottom: 1%;
    padding: 1%;
    display: flex;
    justify-content: center;
}